/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reset end */

:root {
    --bg-color: #201D32;
    --font-color: #BEBAD4;
    --primary-color: #FC8335;
    --md: 768px;
    --lg: 992px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: var(--bg-color);
    color: var(--font-color);
}

.lead {
    min-height: max(60vh, 450px);
    background-image: url(./assets/citynight.jpg);
    background-size: cover;
    background-position-y: bottom;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 18px;
}

.content {
    min-height: 50vh;
    padding: 18px;
}

.layer {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0, 0.55);
    padding: 24px;
}

h1 {
    font-family: 'Rubik Beastly', cursive;
    font-size: 36px;
}

h2 {
    margin-bottom: 24px;
}

p {
    margin-bottom: 4px;
}

.text {
    font-weight: 700;
    font-size: 20px;
}

.content p:nth-child(3) {
    margin-top: 16px;
}

.logo {
    height: 4rem;
    width: 4rem;
    margin-right: 8px;
}

a {
    color: var(--font-color);
}

em {
    font-style: italic;
    margin-right: 3px;
}

.form {
    margin-top: 16px;
}

h2 {
    margin-top: 32px;
}

.btn {
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 700;
    transition: background-color 0.2s;
}

.btn--primary {
    background-color: var(--primary-color);
}

.btn--primary:hover {
    background-color: #E37730;
}

.btn--primary:active {
    background-color: #BD6328;
}

label {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 4px;
}

.input_wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
}

input {
    border: none;
    outline: none;
    border-radius: 6px;
    padding: 12px 24px;
}

input:focus {
    border: 2px solid var(--primary-color);
}

.input--warning {
    border: 2px solid #F03C26;
}

.input--warning:focus {
    border: 2px solid #F03C26;
}

.warning {
    margin-top: 4px;
    color: #F03C26;
    font-size: 14px;
    font-weight: 300;
}

@media screen and (min-width: 768px){
    .lead {
        background-position-y: center;
    }
}

@media screen and (min-width: 992px){
    main {
        display: flex;
    }

    .lead {
        min-height: max(100vh, 450px);
        width: 50vw;
        background-size: cover;
        padding: 24px;
    }

    .content {
        width: 50vw;
        padding: 24px;
        display: flex;
        align-items: center;
    }

    .text {
        font-size: 24px;
    }

    h2 {
        margin-top: 96px;
    }

    .form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 16px;
    }

    .input_wrapper {
        flex: calc(50% - 16px);
    }

    em {
        margin-right: 4px;
    }
}

@media screen and (min-width: 1200px){
    .lead {
        width: 40vw;
        padding: 32px;
    }
    .content {
        width: 60vw;
        padding: 32px;
    }

    .text {
        font-size: 28px;
    }
}